<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="container">
    <div class="container p-lg-5 m-0">
      <h1 class="mb-4">Listing Details</h1>
      <div class="card mt-2">
        <img
          src="<%= listing.image %>"
          class="card-img-top show-img"
          width="700rem;"
          height="700rem;"
          alt="Listings_Images"
        />
        <div class="card-body">
          <h2 class="card-title"><b><%= listing.title %></b></h2>

          <div class="alert alert-light text-center mt-3" role="alert">
            <h6>"<%= listing.description %>"</h6>
          </div>

          <h5 class="pricing-card-title mt-3">
            &#8377;<%= listing.price.toLocaleString("en-IN") %><small
              class="text-body-secondary fw-light"
              >/night</small
            >
          </h5>
          <h6 class="mt-3"><%= listing.location %></h6>
          
          <h6 class="mt-3"><%= listing.country %></h6>
        </div>
        <div class="row">
          <div class="col-auto">
            <a
              href="/listings/<%= listing._id %>/edit"
              class="btn btn-dark wl-btn mb-3"
              >Edit Listing</a
            >
          </div>
          <div class="col-auto">
            <form
              method="POST"
              action="/listings/<%= listing._id %>?_method=DELETE"
            >
              <button type="submit" class="btn btn-dark wl-btn2 mb-3">
                Delete Listing
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
